doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    link(type='text/css', rel='stylesheet', href='/bootstrap-4.0.0-alpha.2/dist/css/bootstrap.min.css')
    link(type='text/css', rel='stylesheet', href='/css/index.css')
    title Group Chat
  body
    center
      #name
        span
          code Hello,Introduce yourself by telling us your name&nbsp
               input(type='text' id='name_input' placeholder='enter your name')
      #create_room.option
        #create_label
          code Create New Chat Room
        br
        #create_room_name_input_label
          span.decorate Choose Room Name
        input#create_room_name_input(type='text')
        #create_room_password_input_label
          span.decorate Choose Room Password
        input#create_room_password_input(type='text')
        br
        br
        #create_room_submit_button.btn.btn-warning Create
        #admin_field
          #admin_pass_input_label.decorate Since you are creating this group you will be the administrator of this group, choose an admin password for your exclusive login.
          br
          input#admin_pass_input(type='password')
          br
          br
          #admin_go_back.btn.btn-warning Go Back
          #admin_create_room_submit_button.btn.btn-success Create
        #create_room_error_message.error_message.bg-danger
      #join_room.option
        #join_label
          code Join Existing Chat Room
        br
        #join_room_name_input_label
          span.decorate Enter Room Name
        input#join_room_name_input(type='text')
        #join_room_password_input_label
          span.decorate Enter Room Password
        input#join_room_password_input(type='password')
        br
        br
        #join_room_submit_button.btn.btn-warning Join
        #join_room_error_message.error_message.bg-info
  script(src='/javascript/jquery.min.js')
  script(src='/javascript/index.js')
