
html,body {
  width:100%;
  height:100vh;
  margin:0px;
}

#group_deleted {
  position: absolute;
  display:none;
  width:100%;
  height:100vh;
  background: black;
  opacity: 0.8;
}

#group_deleted_message {
  background:white;
  padding:20px;
  width:50%;
  font-size:20px;
  margin-top: 40vh;
}

#sidebar {
  float:left;
  width:30%;
  height:100vh;
}

#conversationArea {
  float:right;
  width:70%;
  height:100vh;
  background: #f0f0f0;
}

#small_screen_menu {
  width:100%;
  height:10vh;
  background:black;
  display: none;
}

#user {
    margin-top: 4vh;
}

#user,#group,#admin,#exit,#delete {
  height:5vh;
}

#members {
  max-height:36vh;
  overflow: auto;
}

.tab {
  width:100%;
  display: inline-block;
}

.tab:hover {
  cursor:pointer;
}

.icon {
  float:left;
  margin-left:20px;
  width:40px;
  height:40px;
  background-repeat: no-repeat;
}

.content {
  float:left;
  text-align: left;
  line-height: 40px;
  height:40px;
  margin-left:20px;
  font-weight:bold;
  font-family:Raleway;
}

#user_icon,#small_screen_user_icon {
  background:url('/images/user.png');
  background-size: 40px 40px;
}

#members_icon,#small_screen_members_icon {
  background:url('/images/members.png');
  background-size: 40px 40px;
}

#exit_icon,#small_screen_exit_icon {
  background:url('/images/exit.png');
  background-size: 40px 40px;
}

#member_names {
  margin-left:20px;
  text-align: left;
  border-left:1px solid gray;
  margin-top: 10px;
  padding-left: 10px;
  font-family:Raleway;
  font-size: 16px;
}

#member_names .member {
  margin-top:10px;
}

#members_content {
  line-height: 40px;
  height:40px;
}

#group_icon,#small_screen_group_icon {
  background:url('/images/group.png');
  background-size: 40px 40px;
}

#admin_icon,#small_screen_admin_icon {
  background:url('/images/admin.png');
  background-size: 40px 40px;
}

#delete_icon,#small_screen_delete_icon {
  background:url('/images/delete.png');
  background-size: 40px 40px;
}

.small_content {
  display: none;
}

#chatArea {
  margin-top:10vh;
  width:80%;
  height:70vh;
  overflow-y:auto;
}

#typeArea {
  margin-top:5vh;
  width:100%;
  height:14vh;
}

#tooltip {
  position:absolute;
  top:0px;
  left:0px;
  background:white;
  padding:10px;
  display: none;
}

.chat_type_area {
  width:80%;
  height:8vh;
  margin-top:3vh;
  font-size:20px;
  font-family:Oswald;
}

.message_box {
  width:100%;
  display: inline-block;
}

.message_box span {
  padding:4px;
}

#user_box {
  float:right;
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
  max-width:60%;
}

#server_box {
  width:90%;
  border-bottom:1px dashed black;
}

.green {
  color:green;
}

.red {
  color:red;
}

#user_box #usermessage {
  background:#22deb9;
}

#non_user_box #usermessage {
  background:#ff9800;
}

#username {
  display: inline-block;
}

#usermessage {
  display: block;
  font-family:Raleway;
  font-weight:bold;
  overflow-x:inherit;
  word-wrap: break-word;
}

#non_user_box {
  float:left;
  border-top-right-radius:10px;
  border-bottom-right-radius:10px;
  word-wrap: break-word;
  max-width:60%;
}

.send_chat {
  margin-left:2%;
  width:70px;
}

.icon:hover {
  cursor: pointer;
}

@media screen and (max-width:780px) {
  #sidebar {
    display:none;
  }
  #small_screen_menu{
    display: inherit;
  }
  #conversationArea {
    width:100%;
  }
  #chatArea {
    width:100%;
    height:60vh;
  }
}

@media screen and (max-height:400px) {
  #sidebar {
    display:none;
  }
  #small_screen_menu{
    display: inherit;
  }
  #conversationArea {
    width:100%;
  }
  #chatArea {
    width:100%;
    height:60vh;
  }
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url('/fonts/oswald.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url('/fonts/raleway.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
